@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1;
  background-color: #00e1ff
//  background: url('./assets/images/app-background.png') repeat;
// background: linear-gradient(to top,rgba(0, 235, 252, 0),rgba(255, 255, 255, 0.5));
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#85f2fc+0,c7fff0+100&1+0,1+13,0.7+100,0+100 */
// background: -moz-linear-gradient(top,  rgba(133,242,252,1) 0%, rgba(142,244,250,1) 13%, rgba(199,255,240,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  rgba(133,242,252,1) 0%,rgba(142,244,250,1) 13%,rgba(199,255,240,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  rgba(133,242,252,1) 0%,rgba(142,244,250,1) 13%,rgba(199,255,240,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85f2fc', endColorstr='#00c7fff0',GradientType=0 ); /* IE6-9 */

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
  font-size: 3em;
  text-align: center;
}
